body {
  margin: 0;
  height: 100vh;
  background: #201c29;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 500px;
  margin-top: 50px;
  background: #fff0d4;
  padding-bottom: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}

.text {
  color: #ff7a18;
  ;
  font-size: 40px;
  font-weight: 800;
}

.underline {
  background: #fa6800;
  width: 56px;
  height: 8px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-top: 40px;
}

.input {
  display: flex;
  background: gainsboro;
  border-radius: 5px;
  align-items: center;
  margin: auto;
  width: 350px;
  height: 55px;
}

.input img {
  margin: 0px 30px;
}

.input input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 15px;
}

.forgot-password {
  padding-left: 62px;
  margin-top: 27px;
  color: #797979;
  font-size: 18px;
}

.forgot-password span {
  color: #4c00b4;
  cursor: pointer;
}

.submit-container {
  display: flex;
  gap: 30px;
  margin: 60px auto;
}

.submit {
  background: #ff7a18;
  padding: 15px 55px;
  color: white;
  font-size: 20px;
  font-weight: 800;
  border-radius: 40px;
  cursor: pointer;
  text-align: center;
}

.gray {
  background: #201c29;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 350px;
  }

  .input {
    width: 300px;
  }

  .submit-container {
    gap: 21px;
  }

  .submit {
    padding: 15px 40px;
  }
}